#!{{ lookPath "fish" }}

if status is-interactive
    if type -q mise
        {{ lookPath "mise" }} completion fish > ~/.config/fish/completions/mise.fish
    end

    {{ lookPath "chezmoi" }} completion fish --output=~/.config/fish/completions/chezmoi.fish

    if type -q docker
        {{ lookPath "docker" }} completion fish > ~/.config/fish/completions/docker.fish
    end

    if type -q op
        {{ lookPath "op" }} completion fish > ~/.config/fish/completions/op.fish
    end

    if type -q rg
        {{ lookPath "rg" }} --generate complete-fish > ~/.config/fish/completions/rg.fish
    end
end
