#!/bin/sh

# Install asdf
install_asdf() {
  if [ ! -d "{{ .chezmoi.homeDir }}/.asdf" ]; then
    git clone https://github.com/asdf-vm/asdf.git "{{ .chezmoi.homeDir }}/.asdf" --branch v0.14.0
  fi
}

# Install asdf plugins
install_asdf_plugins() {
  # . "{{ .chezmoi.homeDir }}/.asdf/asdf.sh"
  
  # Install direnv
  # {{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add direnv
  # {{ .chezmoi.homeDir }}/.asdf/bin/asdf install direnv latest
  # {{ .chezmoi.homeDir }}/.asdf/bin/asdf global direnv latest
  # {{ .chezmoi.homeDir }}/.asdf/bin/asdf direnv setup --shell fish --version latest

  # Install starship
  {{ .chezmoi.homeDir }}/.asdf/bin/asdf plugin add starship
  {{ .chezmoi.homeDir }}/.asdf/bin/asdf install starship latest
  {{ .chezmoi.homeDir }}/.asdf/bin/asdf global starship latest
}

# Install asdf
install_asdf

# Install asdf plugins
install_asdf_plugins

echo "asdf installation and setup complete, including starship and direnv plugins."
