#!{{ lookPath "fish" }}

if status is-interactive
    if type -q mise
        {{ lookPath "mise" }} completion fish > ~/.config/fish/completions/mise.fish
    end

    {{ lookPath "chezmoi" }} completion fish --output=~/.config/fish/completions/chezmoi.fish

    if type -q docker
        {{ lookPath "docker" }} completion fish > ~/.config/fish/completions/docker.fish
    end
end
