[user]
	name = Bryan Clark
	email = me@moenzuel.com

[alias]
	root = rev-parse --show-toplevel

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[core]
    sshCommand = ssh.exe
{{   end }}
{{ end }}


