#!/bin/sh

# Download monaspace
if [ ! -d "{{ .chezmoi.homeDir }}/.monaspace" ]; then
    git clone https://github.com/githubnext/monaspace.git "{{ .chezmoi.homeDir }}/.monaspace"
fi

{{ if eq .chezmoi.os "linux" }}

cd "{{ .chezmoi.homeDir }}/.monaspace"
bash util/install_linux.sh

{{ else if eq .chezmoi.os "darwin" }}

cd "{{ .chezmoi.homeDir }}/.monaspace"
bash util/install_macos.sh

{{ end }}

# Clean up
rm -rf "{{ .chezmoi.homeDir }}/.monaspace"

echo "monaspace installation and setup complete."
