#!/bin/sh

{{ if eq .chezmoi.os "linux" }}
# Function to install fish shell on Linux
install_fish() {
    if command -v fish >/dev/null 2>&1; then
        echo "Fish shell is already installed"
    else
        echo "Installing Fish shell on Linux..."
        sudo apt-add-repository ppa:fish-shell/release-3 -y
        sudo apt update
        sudo apt install fish -y
    fi
}

{{ else if eq .chezmoi.os "darwin" }}
# Function to install fish shell on macOS
install_fish() {
    if command -v fish >/dev/null 2>&1; then
        echo "Fish shell is already installed"
    else
        echo "Installing Fish shell on macOS..."
        FISH_PKG_URL="https://github.com/fish-shell/fish-shell/releases/download/3.3.1/fish-3.3.1.pkg"
        PKG_FILE="/tmp/fish.pkg"
        curl -L $FISH_PKG_URL -o $PKG_FILE
        sudo installer -pkg $PKG_FILE -target /
        rm $PKG_FILE
    fi
}
{{ end }}

# Function to set fish as the default shell
set_fish_default() {
    if [[ "$SHELL" == *"fish"* ]]; then
        echo "Fish shell is already the default shell"
    else
        echo "Setting Fish shell as the default shell..."
        chsh -s $(which fish)
    fi
}

install_fish
set_fish_default
