#!{{ lookPath "fish" }}

if status is-interactive
    if type -q mise; and type -q useage
        {{ lookPath "mise" }} completion fish > {{ .chezmoi.homeDir }}/.config/fish/completions/mise.fish
    end

    {{ lookPath "chezmoi" }} completion fish --output={{ .chezmoi.homeDir }}/.config/fish/completions/chezmoi.fish

    if type -q docker
        {{ lookPath "docker" }} completion fish > {{ .chezmoi.homeDir }}/.config/fish/completions/docker.fish
    end

    if type -q op
        {{ lookPath "op" }} completion fish > {{ .chezmoi.homeDir }}/.config/fish/completions/op.fish
    end
end
