fish_add_path $HOME/.local/bin

if status is-interactive
    if type -q mise
        mise activate fish | source

        if type -q starship
            mise exec starship -- starship init fish | source
        end
    end
end

if type -q chezmoi
    alias cm {{ lookPath "chezmoi" }}
end

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias op op.exe
{{   end }}
{{ end }}
